/*
Colors:

light blue: #8e9efc
medium blue: #5a73fc
dark blue: #1c3eff

*/

// COLOR
$color-primary: #8e9efc;
$color-primary-light: #532de4;
$color-primary-dark: #803b7c;

$color-secondary-light: #ffb900;
$color-secondary-dark: #f55a2b;

$color-tertiary-light: #00ff73;
$color-tertiary-dark: #009643;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #e0e0e0;
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

